h1 a {
    color: #FCA205;
}

#principal
{
    color:#FCA205;
    font-size:250%;
    text-align: center;
    text-decoration: underline;
}




h3
{
  text-align: center;
  color:silver;
}

body
{
    background-image: url('https://k31.kn3.net/taringa/2/9/6/A/7/2/KonahsFvZ/BE9.jpg');
    background-repeat: no-repeat;
}


/* COLORES PARA LAS TABLAS*/
th
{
  color:#3f2c5f;
}

td
{
  color:white;
}




centrar
{
  align-items:center; 
}


/*
th
{
  background-color: #FCA205;
}

td
{
  background-color: blue;
}
*/
